body {
    margin: 50px;
    background-image: linear-gradient(90deg, rgba(170, 228, 243, 1) 0%, rgba(224, 242, 201, 1) 100%);
}

img {
    padding: 20px;
    border-radius: 50%;
    background-color: beige;
}

.imagen-main {
    display: flex;
    justify-content: center;
}

h1 {
    width: 300px;
    text-align: center;
    font-family: console, sans-serif;
    color:purple;
    font-size: 70px;
    transform: rotate(5deg);
    text-shadow: 5px 5px 10px #000;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    background: black;
    color:white;
    font-size: 20px;
    padding: 20px;
}

.navigation {
    font-size: 30px;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    color:white;
    background: #12a4a4;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

a:link {
    background-color: blue;
    color:white;
    text-decoration: none;
    padding: 2px;
}

a:visited {
    background-color: purple;
}

a:hover {
    background-color: transparent;
    color:blue;
    text-decoration: underline;
}

a:active{
    color:red;
}

.div-recetas {
    margin:10px;
    padding: 20px;
    border-radius: 30px;
}

.div-apple {
    background-color: darkmagenta;
    color:white;
}

.div-chocolate {
    background-color: darkgreen;
    color:white;
}

.div-fresa {
    background-color: darkblue;
    color:white;
}