* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 4rem;
    opacity: 0.5;
}

.container {
    border: 5px solid black;
    width: 800px;
    height: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    /*flex-flow: row wrap;*/
    justify-content: center;
    align-items:center;

}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-size: 4rem;
    text-align: center;
    flex-shrink: 1;
}

.uno {
    background-color: lightblue;
    flex-shrink: 3;
}

.dos {
    background-color: aquamarine;
    align-self: flex-start;
}

.tres {
    background-color: chocolate;
}

.cuatro {
    background-color: blueviolet;
}

.cinco {
    background-color: yellow;
    flex-grow: 2;
}

.seis {
    background-color: tomato;
    flex-grow: 1;
}

